<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="../static/calc.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="textarea">
                    <input type="text" id="op2" placeholder="000">
                    <input type="text" id="op1" placeholder="000">
                </div>
                <div class="buttons">
                    <button id="clear" class="btn btn-primary">C</button>
                    <button id="sqrt" class="btn btn-secondary">&radic;</button>
                    <button id="op" class="btn btn-secondary">%</button>
                    <button id="back" class="btn btn-secondary">&larr;</button>

                    <button class="btn btn-normal">7</button>
                    <button class="btn btn-normal">8</button>
                    <button class="btn btn-normal">9</button>
                    <button id="op"class="btn btn-secondary">/</button>

                    <button class="btn btn-normal">4</button>
                    <button class="btn btn-normal">5</button>
                    <button class="btn btn-normal">6</button>
                    <button id="op" class="btn btn-secondary">*</button>

                    <button class="btn btn-normal">1</button>
                    <button class="btn btn-normal">2</button>
                    <button class="btn btn-normal">3</button>
                    <button id="op" class="btn btn-secondary">-</button>

                    <button class="btn btn-normal">0</button>
                    <button class="btn btn-normal">.</button>
                    <button id="op" class="btn btn-secondary">+</button>
                    <button id="result" class="btn btn-primary">=</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/calc.js"></script>
</body>
</html>